<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyChatApp</title>
</head>
<body>
    <h1>My Chat App</h1>
    <h3>Hi {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Guest{% endif %}!</h3>
<form action="/chat">
    <div>
        <label>Enter your username:</label>
        <input title="text" name="username">
    </div>
    <div>
        <label>Enter your room ID:</label>
        <input title="text" name="room">
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>